.fade-enter-active {
  transition: opacity .5s
}
.fade-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.border-t{
	border-top: 1px solid;
}

.border-t-2{
	border-top: 3px solid;
}
.border-b{
	border-bottom : 1px solid;
}
.border-b-2{
	border-bottom : 3px solid;
}

.box-shadow {
	box-shadow : 0 2px 2px -2px rgba(0,0,0,.15)
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  // background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
  display:none
}