$font-size-base:              0.9rem !default;

$light:         #F0F0F0;

/* $link-color:                theme-color("primary") !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default; */
$link-hover-decoration:     none !default;

$theme-colors: (
  "brand": #00CEAE,
  "brand-inverse": #292E43,
  "gray" : rgba(0, 0, 0, 0.125)
);
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 4.5),
	7: ($spacer * 7),
	8: ($spacer * 9),
	9: ($spacer * 11),
)!default;